@use 'base/reset';
@use 'layouts/header';
@use 'layouts/content';
@use 'layouts/section';


@font-face {
    font-family: 'SilkSerifRegular';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/SilkSerifRegular.otf') format("opentype");
  } 

body {
    font-size: 16px;
}


